body {
    font-family:verdana, sans-serif;
    background-color: bisque;
}

article, footer{
    background-color:sandybrown;
    margin-top:10px;
}

article {
padding: 24px;
}
section {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

a {
    text-decoration:none;
    color:rgb(0, 139, 12);
}
a:hover{
    text-decoration:underline;
}